body{
    background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.7)), url('images/bg.png');
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.navBar{
    width: 100%;
    display: flex;
    justify-content: right;
    z-index: 1;
    gap: 20px;
    padding-top: 30px;
}
.navBar .lists{
    width: 100%;
    display: flex;
    justify-content: right;
    z-index: 1;
    gap: 20px;
    margin-left: 15vw;
    margin-right: 15vw;
}
.navBar a{
    color: white;
    text-decoration: none;
    margin: 0 10px;
    right: 0;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 10px;
    cursor: pointer;
    transition: text-shadow 0.3s ease, color 0.3s ease;
}
.navBar a:hover{
    text-shadow: 0 0 10px #fff , 0 0 40px #fff , 0 0 80px #fff;
}
#btn-top {
    opacity: 0;
    visibility: hidden;
    position: fixed; 
    bottom: 20px; 
    right: 30px; 
    z-index: 98; 
    border: none; 
    outline: none;
    background-color: rgba(0, 73, 12, 0.5); 
    color: white; 
    cursor: pointer; 
    padding: 15px; 
    border-radius: 10px; 
    font-size: 11px; 
    transition: opacity 0.4s ease, visibility 0.4s ease;
}
#btn-top.show {
    opacity: 1;
    visibility: visible;
}
#btn-top:hover {
    background-color: #075e21;
}
.profile{
    display: flex;
    flex-direction: column;
    color: white;
    z-index: 1;
    padding-top: 30vh;
    padding-bottom: 45vh;
    margin-left: 15vw;
    margin-right: 15vw;
}
.profile img{
    width: 200px;
    margin-bottom: 20px;
}
.profile h1{
    font-size: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-bottom: 0px;
}
.profile p{
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.profile button{
    width: fit-content;
    padding: 10px 30px;
    background-color: rgb(241, 67, 67);
    color: white;
    border: none;
    border-radius: 2px;
    font-size: 15px;
    font-family: 'Arial', sans-serif;
    cursor: pointer;
    margin-top: 20px
}
.experience {
    background-color: black;
    color: #fff;
    padding: 20px;
    display: flex;
    flex-direction: column;
}
.expContainer{
    margin-left: 15vw;
    margin-right: 15vw;
    padding-bottom: 5vh;
    border-bottom: rgb(78, 78, 78) 2px solid;
}
.section-title {
    position: relative;
    margin-bottom: 5vh;
    font-size: 50px;
    color: #fff;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.section-title::after {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 0;
    right: 0;
    height: 2px;
    background-color: rgb(241, 67, 67);
    transform: skewX(-20deg);
    width: 100px;
}
.experience-list {
    display: flex;
    flex-direction: column;
    gap: 10vh;
}
.experience-item{
    display: flex;
    gap: 5vw;
    align-items: center;
}
.experience-list img{
    width: 70%;
}
.experience-list .expImages{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}
.experience-list .expImages img{
    width: 100%;
}
.experience-list h2{
    font-size: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-bottom: 0px;
}
.experience-list h3{
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-bottom: 0px;
}
.experience-list p{
    font-size: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 30px;
}
.skills{
    color: #fff;
    padding: 20px;
    display: flex;
    flex-direction: column;
    background-color: black;
}
.skillsContainer{
    margin-left: 15vw;
    margin-right: 15vw;
}
.skill-list{
    display: flex;
    flex-direction: row;
    gap: 2vw;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 8vh;
}
.skill-list h2{
    font-size: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-bottom: 10px;
    margin-top: 10px;
}
.skillText{
    width: 20%;
    height: 100%;
    margin: 0;
    border-right: rgb(78, 78, 78) 2px solid;
    border-radius: 10px;
}
.skill-bulk{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1vw;
    width: 80%;
}
.skill-item{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.skill-item img{
    width: 3vw;
}
.skill-item h2{
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-bottom: 0px;
    margin-top: 0px;
    text-align: center;
}
.certifications{
    color: #fff;
    padding: 20px;
    display: flex;
    flex-direction: column;
    background-color: black;
}
.certsContainer{
    margin-left: 15vw;
    margin-right: 15vw;
}
.cert-list{
    display: flex;
    flex-direction: row;
    gap: 2vw;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 8vh;
}
.cert-list h2{
    font-size: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-bottom: 10px;
    margin-top: 10px;
}
.cert-list img{
    width: 3vw;
}