
:root{
    /* Margin */
    --margin-xxs: .25rem;
    --margin-xs: .5rem;
    --margin-s: .75rem;
    --margin-m: 1rem;
    --margin-l: 1.25rem;
    --margin-xl: 1.75rem;
    --margin-xxl: 2.5rem;

    /* Padding */
    --padding-xxs: .25rem;
    --padding-xs: .5rem;
    --padding-s: .75rem;
    --padding-m: 1rem;
    --padding-l: 1.25rem;
    --padding-xl: 1.75rem;
    --padding-xxl: 2.5rem;

    /* Colors */
    --gray10: hsl(0, 0%, 10%);
    --gray30: hsl(0, 0%, 30%);
    --gray50: hsl(0, 0%, 50%);
    --gray70: hsl(0, 0%, 70%);
    --gray90: hsl(0, 0%, 90%);
    --colora: #07553B;
    --colorb: #CED46A;
}

body{
    background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.7)), url('images/bg.png');
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.navBar{
    width: 100%;
    display: flex;
    justify-content: right;
    z-index: 1;
    padding-top: 30px;
}
.navBar .lists{
    width: 100%;
    display: flex;
    justify-content: right;
    z-index: 1;
    margin-left: 15vw;
    margin-right: 15vw;
}
.navBar a{
    color: white;
    text-decoration: none;
    margin: 0 var(--margin-m);
    right: 0;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 10px;
    cursor: pointer;
    transition: text-shadow 0.3s ease, color 0.3s ease;
}
.navBar a:hover{
    text-shadow: 0 0 10px #fff , 0 0 40px #fff , 0 0 80px #fff;
}
#btn-top {
    opacity: 0;
    visibility: hidden;
    position: fixed; 
    bottom: 20px; 
    right: 30px; 
    z-index: 98; 
    border: none; 
    outline: none;
    background-color: var(--colora); 
    color: white; 
    cursor: pointer; 
    padding: 15px; 
    border-radius: 10px; 
    font-size: 11px; 
    transition: opacity 0.4s ease, visibility 0.4s ease;
}
#btn-top.show {
    opacity: 1;
    visibility: visible;
}
#btn-top:hover {
    background-color: var(--colorb);
    color: black;
}
.profile{
    display: flex;
    flex-direction: column;
    color: white;
    z-index: 1;
    padding-top: 30vh;
    padding-bottom: 38vh;
    margin-left: 15vw;
    margin-right: 15vw;
}
.profile img{
    width: 200px;
    margin-bottom: 20px;
}
.profile h1{
    font-size: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-bottom: 0px;
}
.profile p{
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: var(--margin-m);
}
.profile button{
    width: fit-content;
    padding: 10px 30px;
    background-color: var(--colorb);
    color: black;
    border: none;
    border-radius: 2px;
    font-size: 15px;
    font-family: 'Arial', sans-serif;
    cursor: pointer;
    margin-top: 20px
}

.projects{
    background-color: black;
    color: #fff;
    padding: 20px;
    display: flex;
    flex-direction: column;
}
.projectContainer{
    margin-left: 15vw;
    margin-right: 15vw;
    padding-bottom: 5vh;
    border-bottom: var(--gray30) 2px solid;
}
.project-list{
    display: flex;
    flex-direction: column;
    gap: 10vh;
}
.project-item{
    display: flex;
    gap: 5vw;
    align-items: center;
}
.projectText{
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: center;
}
.projectText h2{
    font-size: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-bottom: 0px;
}
.projectText p{
    font-size: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 30px;
    color: var(--gray70);
    text-align: justify;
}
.projectImages{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 50%;
}
.project-item img{
    width: 50%;
}
.projectImages img{
    width: 100%;
}


.experience {
    background-color: black;
    color: #fff;
    padding: 20px;
    display: flex;
    flex-direction: column;
}
.expContainer{
    margin-left: 15vw;
    margin-right: 15vw;
    padding-bottom: 5vh;
    border-bottom: var(--gray30) 2px solid;
}
.section-title {
    position: relative;
    margin-bottom: 5vh;
    font-size: 50px;
    color: #fff;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.section-title::after {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 0;
    right: 0;
    height: 2px;
    background-color: var(--colorb);
    transform: skewX(-20deg);
    width: 100px;
}
.experience-list {
    display: flex;
    flex-direction: column;
    gap: 10vh;
}
.experience-item{
    display: flex;
    gap: 5vw;
    align-items: center;
}
.expText{
    display: flex;
    flex-direction: column;
    width: 50%
}
.experience-list img{
    width: 50%;
}
.experience-list .expImages{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 50%;
}
.experience-list .expImages img{
    width: 100%;
}
.experience-list h2{
    font-size: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-bottom: 0px;
}
.experience-list h3{
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-bottom: 0px;
    margin-top: var(--margin-xs);
    color: var(--gray90);
}
.experience-list p{
    font-size: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 30px;
    color: var(--gray70);
    text-align: justify;
}
.contact{
    background-color: black;
    color: #fff;
    padding: 20px;
    display: flex;
    flex-direction: column;
}
.contactContainer{
    margin-left: 15vw;
    margin-right: 15vw;
    padding-bottom: 5vh;
    border-bottom: var(--gray30) 2px solid;
}